[submodule "SimaiSharp"]
	path = SimaiSharp
	url = https://github.com/clansty/SimaiSharp.git
[submodule "MaiLib"]
	path = MaiLib
	url = https://github.com/clansty/MaiLib.git
[submodule "SonicAudioTools"]
	path = SonicAudioTools
	url = https://github.com/clansty/SonicAudioTools.git
[submodule "XV2-Tools"]
	path = XV2-Tools
	url = https://github.com/clansty/XV2-Tools.git
[submodule "AquaMai"]
	path = AquaMai
	url = https://github.com/MewoLab/AquaMai.git
